.about-hero {
	align-items: center;
	display: flex;
	flex-direction: column;

	background-color: transparent;
	background-image: url("/images/pages/about/spreadsheet.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	min-height: 500px;
	background-color: #fff;
}

.section__about {
	&--intro {
		margin: 5rem 0 0 0;
	}
	&--first {
		margin: 5rem 0 5rem 0;

		.container {
			.columns {
				&--flip {
					@media (max-width: 992px) {
						/* <== You can change this break point as per your  needs */

						flex-direction: column-reverse;
						display: flex;
					}
				}
				.column {
					//display: flex;
					//align-items: center;
					figure {
						padding: 5rem;

						img {
							max-height: 600px;
							max-width: 600px;
						}
					}
				}
			}
		}
	}
	&--more {
		margin: 8rem 0 8rem 0;
	}
}
