.hero-body {
	.container {
		.title {
		}
	}
}
.hero.is-info {
	background-color: #ffe068;
	.hero-body {
		@include tablet-only {
			padding-bottom: 18rem;
			padding-top: 18rem;
		}
		@include mobile {
			padding-bottom: 18rem;
			padding-top: 18rem;
			top: -120vw;
		}
	}
}
#flow {
	span {
		display: block;
		width: 200vw;
		height: 200vw;
		position: absolute;
		top: -160vw;
		left: -85vw;
		border-radius: 90vw;
		opacity: 0.6;

		@include desktop {
			top: -160vw;
			left: -85vw;
		}

		@include tablet-only {
			top: -120vw;
			left: -90vw;
		}
		@include mobile {
			top: -115vw;
			left: -90vw;
		}
	}
	.flow-1 {
		background: #ffeb9b;
		-webkit-animation: rotating 20s linear infinite;
		-moz-animation: rotating 20s linear infinite;
		-ms-animation: rotating 20s linear infinite;
		-o-animation: rotating 20s linear infinite;
		animation: rotating 20s linear infinite;
	}
	.flow-2 {
		background: #ffd324;
		position: absolute;
		-webkit-animation: rotating 15s linear infinite;
		-moz-animation: rotating 15s linear infinite;
		-ms-animation: rotating 15s linear infinite;
		-o-animation: rotating 15s linear infinite;
		animation: rotating 15s linear infinite;
	}
	.flow-3 {
		background: #ffcc02;
		position: absolute;
		-webkit-animation: rotating 12s linear infinite;
		-moz-animation: rotating 12s linear infinite;
		-ms-animation: rotating 12s linear infinite;
		-o-animation: rotating 12s linear infinite;
		animation: rotating 12s linear infinite;
	}
}

.section__expertise {
	padding-top: 10rem;
	.columns {
		margin-bottom: 4rem;
		.column {
			figure {
				padding: 0 !important;
			}
		}
		.ls-feature-card {
			padding: 3.75rem 16% 2.5rem;
			border-radius: 8px;
			box-shadow: 0 0 26.19px 0.81px rgba(42, 74, 91, 0.08), 0 0 0 1px rgba(50, 46, 97, 0.1);

			.card-content {
				padding: 0;

				.image {
					margin: 0 auto 1rem;
					max-width: 100%;
					height: auto;
					width: 500px;
				}
			}
		}
	}
}

.section__services {
	padding-top: 10rem;
	.container {
		.columns {
			margin-bottom: 4rem;

			.column {
				figure {
					overflow: hidden;

					&:hover {
						img {
							-webkit-filter: blur(1px) grayscale(70%);
							filter: blur(1px) grayscale(70%);
							-webkit-transform: scale(1.5);
							transform: scale(1.5);
						}
						.hover_layer {
							visibility: visible;
							opacity: 1;
							.hover_text {
								transform: translateY(0);
								z-index: 1;
								background: rgba(255, 255, 255, 0.9);
								padding: 2rem;
								margin: 2rem;
								&:hover {
									background: #0a0a0a;
									color: #ffcc02;
								}
							}
						}
					}

					.hover_layer {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						color: #000;
						visibility: hidden;
						opacity: 0;
						display: flex;
						align-items: center;
						justify-content: center;
						transition: opacity 0.2s, visibility 0.2s;

						.hover_text {
							transition: 0.2s;
							transform: translateY(1em);
							box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
						}
					}
				}
			}
		}
	}
}

.section__portfolio {
	padding-top: 10rem;

	.container {
		max-width: 80%;

		.swiper-container {
			width: 100%;
			height: 90%;

			.swiper-wrapper {
				.swiper-slide {
					text-align: center;
					background: #fff;
					/* Center slide text vertically */
					display: flex;
					justify-content: center;
					align-items: center;

					.container-general {
						padding: 75px 0;
						margin: 0 auto;
						width: 100%;

						.gallery-wrap {
							display: flex;
							flex-direction: row;
							width: 100%;
							height: 70vh;

							.item-swiper {
								flex: 1;
								height: 100%;
								background-position: center;
								background-size: cover;
								background-repeat: none;
								transition: all 0.8s ease;
								display: flex;
								align-items: center;
								justify-content: center;
								.image_layer {
									width: 100%;
									height: auto;
								}

								&:hover {
									flex: 7;
									-webkit-filter: grayscale(70%);
									filter: grayscale(70%);

									.hover_layer {
										visibility: visible;
										opacity: 1;
										z-index: 30;

										filter: none;
										-webkit-filter: none;

										.hover_text {
											transform: translateY(0);
											z-index: 1;
											background: rgba(255, 255, 255, 0.9);
											padding: 2rem;
											margin: 2rem;
											&:hover {
												background: #0a0a0a;
												color: rgba(255, 255, 255, 0.9);
											}
										}
									}
								}

								.hover_layer {
									color: #000;
									visibility: hidden;
									opacity: 0;
									display: flex;
									align-items: center;
									justify-content: center;
									transition: opacity 0.2s, visibility 0.2s;

									-webkit-box-align: center;
									-webkit-align-items: center;
									-ms-flex-align: center;
									align-items: center;
									-webkit-box-pack: center;
									-webkit-justify-content: center;
									-ms-flex-pack: center;
									justify-content: center;

									.hover_text {
										transition: 0.2s;
										transform: translateY(1em);
										max-width: 50%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.section__blog {
	padding-top: 10rem;

	.container {
		.columns {
			.column {
				.title {
					margin-bottom: 4rem;
				}
				.card {
					&:hover {
						.card-image {
							.image {
								opacity: 0.3;
							}
							.card-image-overlay {
								opacity: 1;
							}
						}
					}

					.card-image {
						.image {
							opacity: 1;
							display: block;
							width: 100%;
							height: auto;
							transition: 0.5s ease;
							backface-visibility: hidden;
						}
						.card-image-overlay {
							transition: 0.5s ease;
							opacity: 0;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
							text-align: center;
						}
					}
				}
			}
		}
	}
}
