.column-box {
	padding: 5rem 0 0 0;
}
.column {
	//display: flex;
	//align-items: center;
	figure {
		padding: 5rem;

		img {
			max-height: 600px;
			max-width: 600px;
		}
	}
	.boxmoments-figure {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: 0.3s ease-in-out;
		transition: 0.3s ease-in-out;

		@media (max-width: 992px) {
			padding: 0;
		}

		&:hover {
			-webkit-transform: scale(1.15);
			transform: scale(1.15);
		}
	}
}
