.btn {
	position: relative;
	padding: 1em 1.5em;
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	font-size: 18px;
	margin: 1em 0.8em;
	a {
		color: inherit;
	}
	.icon {
		display: inline-block;
	}

	&.type3 {
		&:after,
		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 20%;
			height: 20%;
			border: 2px solid;
			transition: all 0.6s ease;
			border-radius: 2px;
		}

		&:after {
			bottom: 0;
			right: 0;
			border-top-color: transparent;
			border-left-color: transparent;
			border-bottom-color: #435a6b;
			border-right-color: #435a6b;
		}
		&:before {
			top: 0;
			left: 0;
			border-bottom-color: transparent;
			border-right-color: transparent;
			border-top-color: #435a6b;
			border-left-color: #435a6b;
		}
		&:hover {
			&:after,
			&:before {
				border-bottom-color: #435a6b;
				border-right-color: #435a6b;
				border-top-color: #435a6b;
				border-left-color: #435a6b;
				width: 105%;
				height: 110%;
			}

			span {
				color: #ffd21f;
			}
		}
	}
}

.is-rounded {
	border-color: #ffffff;
	&:hover {
		border-color: #ffffff;
	}
}
