.cookie-consent{
    position: fixed;
    bottom: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 5rem;

    background-color: #06c0e1eb;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 800;

    z-index: 30;
}

.cookie-consent__agree{
    background-color: $color-primary-pink;
    border: none;
    margin-top: 5rem;
    border: 2px solid  $color-primary-pink ;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 15px;
    color: white;
    font-size: 1.6rem;

    cursor: pointer;
    &:hover{
        background-color: $color-primary-purple;
        border: 2px solid $color-primary-purple;

    }
}