.contacts__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
}

#submit{
    background: none;

    &:hover{
        background-color: $color-primary-blue;
    }
}

.form__row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form__input{
    background: none;
    border: 2px solid $color-primary-blue;
    padding: 1rem;
    border-radius: 10rem;
    text-align: center;
    width: 100%;
    color: $color-white;

    outline: none;

    &:focus{
        color: $color-white;
    }
}

.form__textarea{
    height: 20rem;
    border-radius: 1rem
}

::placeholder {
    color: $color-white;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.2rem;
}

.g-recaptcha{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error-div{
    font-size: 1.5rem;
    font-family: QuickSandBold;
    text-transform: uppercase;
    color: red;
    padding: 2rem;
}