.info__content{

}

.info__paragraph{
    color: $color-primary-blue;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3.2rem;
}

.info__map{
    background-image: url(http://df.comup-dev.pt/img/mapa.jpg);
    height: 40rem;

    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    position: relative;
}

.info__camping{
    background-image: url(/img/campismo.jpg);
    height: 40rem;

    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    position: relative;
}

.info__googlemaps{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: $color-primary-blue;

    &:hover{
        color: $color-primary-pink;
    }
}

.info__adress{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    bottom: 3rem;
    background-color: $color-primary-blue;
    padding: 1rem;
    
    font-size: 1.4rem;
    font-weight: 800;
    font-style: italic;
    color: $color-white;
}
.info__transport{
    padding: 0 0 15rem 0;
}
