.lineup__content {
}

.lineup__box {
	display: flex;
	flex-direction: column;
}

.lineup__day {
}

.lineup__artists {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.day1,
.day2 {
	&:nth-child(1) {
		font-size: 5.5rem;
	}
	&:nth-child(2) {
		font-size: 4rem;
	}
}
