.news {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0 0 10rem 0;
    
    @include respond(tab-port) { // width < 900?
        flex-direction: column;

    }

    &__content{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;

        &:not(:first-child){
            margin-top: 5rem;
        }

        &--holder{
            margin-left: 1rem;
        }

        @include respond(tab-port){
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            max-width: 80%;
            margin: 0 auto;
        }
    }

    &__box{
        position: relative;

        @include respond(tab-port){
            &:not(:first-child){
                margin-top: 5rem;
            }
        }


        &:hover{
            cursor: pointer;
            .news__description{
                height: 100%;

                visibility: visible;
                opacity: 1;

            }
            .news__title{
                @include respond(tab-port){
                    visibility: visible;
                    opacity: 1;
                }

            }
        }
    }

    &__image{
        width: 100%;

        &--all{
            width: 650px;

            @include respond(tab-port) { // width < 900?
                max-width: 100%;
            }
        }
    }

    &__title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;

        font-size: 2.6rem;
        font-weight: 800;
        font-style: italic;

        
        @include respond(tab-port) { // width < 900?
            position: unset;
            width: 100%;
            text-align: center;
            top: 0;
            left: 0;
            transform: none;
            margin-bottom: 5rem;
        }
    }

    &__description{
        width: 100%;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to right bottom, rgb(6, 192, 225), transparent);
        color: $color-white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3rem;

        visibility: hidden;
        opacity: 0;

        transition: .35s all;

        @include respond(tab-port) { // width < 900?
            position: unset;
            margin-top: 1rem;
            visibility: visible;
            opacity: 1;
            background: transparent;
            width: 80%;
            margin: 0 auto;
            margin-bottom: 5rem
        }
        
    }

    &__date--all{
        color: $color-white;
        font-size: 1.6rem;
        .fa-calendar-alt{
            color: $color-primary-blue;
        }
    }

    &__title--all{
        color: $color-white;
        font-size: 1.6rem;
        font-weight: 800;
        font-style: italic;
    }

    &__description--all{
        width: 50%;
        color: white;

        @include respond(tab-port){
            width: 100%;
            margin-bottom: 4rem;
        }

    }
}
