/* Style the tab */
.tab {
    overflow: hidden;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    &__content{
        display: none;
        padding: 5rem 5rem;
        color: $color-white;
        font-size: 1.6rem;
    }

    &__links{
        border: none;
        background: transparent;
        cursor: pointer;
        outline: none;
    }

    &__image{
        height: 15rem;
        @include respond(tab-port) { // width < 900?
            height: 10rem;
        }
    }
}

.tab__links:hover{
    .tab__title {
        color: $color-primary-blue;
    }
}

.tab__active{
    .tab__title {
        color: $color-primary-blue;
    }
}

  /* Style the tab */
.tab__campismo {
    overflow: hidden;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    &__content__campismo{
        display: none;
        padding: 5rem 5rem;
        color: $color-white;
        font-size: 1.6rem;
    }

    &__links__campismo{
        border: none;
        background: transparent;
        cursor: pointer;
        outline: none;
    }

    &__image__campismo{
        height: 15rem;
        @include respond(tab-port) { // width < 900?
            height: 10rem;
        }
    }
}

.tab__links__campismo:hover{
    .tab__title__campismo {
        color: $color-primary-blue;
    }
}

.tab__active__campismo{
    .tab__title__campismo {
        color: $color-primary-blue;
    }
}