footer {
	padding-top: 2rem;
	background-color: #fafafa;

	.hero {
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.social {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin: 2rem 0 0 0;

		.field {
			margin-bottom: 0.75rem;

			.button {
				margin: 0 0.8rem;
				box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
				&:hover {
					color: #ffd21f;
				}
			}
		}
	}
	.copyright {
		padding: 2rem 0 2rem 0;
	}
}
