@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}

	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@keyframes spinAround {
	from {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}

	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

.pageloader {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	position: fixed;
	padding-top: 2em;
	background: #ffcc02;
	z-index: 999998;
	transition: transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
	will-change: transform;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	&.is-white {
		background-color: #fff;
		background: #fff;
		&::after {
			border-color: #0a0a0a;
			-webkit-animation: loader-figure-white 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
			animation: loader-figure-white 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
		}
		.title {
			color: #0a0a0a;
		}
	}
	&.is-black {
		background-color: #0a0a0a;
		background: #0a0a0a;
		&::after {
			border-color: #fff;
			-webkit-animation: loader-figure-black 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
			animation: loader-figure-black 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
		}
		.title {
			color: #fff;
		}
	}
	&.is-light {
		background-color: #f5f5f5;
		background: #f5f5f5;
		&::after {
			border-color: #363636;
			-webkit-animation: loader-figure-light 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
			animation: loader-figure-light 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
		}
		.title {
			color: #363636;
		}
	}
	&.is-dark {
		background-color: #363636;
		background: #363636;
		&::after {
			border-color: #f5f5f5;
			-webkit-animation: loader-figure-dark 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
			animation: loader-figure-dark 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
		}
		.title {
			color: #f5f5f5;
		}
	}
	&.is-primary {
		background-color: #00d1b2;
		background: #00d1b2;
		&::after {
			border-color: #fff;
			-webkit-animation: loader-figure-primary 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
			animation: loader-figure-primary 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
		}
		.title {
			color: #fff;
		}
	}
	&.is-link {
		background-color: #3273dc;
		background: #3273dc;
		&::after {
			border-color: #fff;
			-webkit-animation: loader-figure-link 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
			animation: loader-figure-link 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
		}
		.title {
			color: #fff;
		}
	}
	&.is-info {
		background-color: #209cee;
		background: #209cee;
		&::after {
			border-color: #fff;
			-webkit-animation: loader-figure-info 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
			animation: loader-figure-info 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
		}
		.title {
			color: #fff;
		}
	}
	&.is-success {
		background-color: #23d160;
		background: #23d160;
		&::after {
			border-color: #fff;
			-webkit-animation: loader-figure-success 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
			animation: loader-figure-success 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
		}
		.title {
			color: #fff;
		}
	}
	&.is-warning {
		background-color: #ffdd57;
		background: #ffdd57;
		&::after {
			border-color: rgba(0, 0, 0, 0.7);
			-webkit-animation: loader-figure-warning 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
			animation: loader-figure-warning 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
		}
		.title {
			color: rgba(0, 0, 0, 0.7);
		}
	}
	&.is-danger {
		background-color: #ff3860;
		background: #ff3860;
		&::after {
			border-color: #fff;
			-webkit-animation: loader-figure-danger 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
			animation: loader-figure-danger 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
		}
		.title {
			color: #fff;
		}
	}
	&:not(.is-left-to-right),
	&:not(.is-right-to-left) {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	&.is-left-to-right {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
	&.is-right-to-left {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	&.is-active {
		&:not(.is-left-to-right),
		&:not(.is-right-to-left) {
			-webkit-transform: translateY(0);
			transform: translateY(0);
		}
		&.is-left-to-right,
		&.is-right-to-left {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}
	&::after {
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		border-radius: 100%;
		content: "";
		z-index: 9999;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 0;
		height: 0;
		box-sizing: border-box;
		border: 0 solid rgb(44, 42, 42);
		-webkit-animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
		animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	.title {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		margin: 2em 0 0 0;
		font-size: 0.875em;
		letter-spacing: 0.1em;
		line-height: 1.5em;

		white-space: nowrap;
	}
}

@-webkit-keyframes loader-figure {
	0% {
		height: 0;
		width: 0;
		background-color: #000;
	}

	29% {
		background-color: rgb(44, 42, 42);
	}

	30% {
		height: 2em;
		width: 2em;
		background-color: transparent;
		border-width: 1em;
		opacity: 1;
	}

	100% {
		height: 2em;
		width: 2em;
		border-width: 0;
		opacity: 0;
		background-color: transparent;
	}
}

@keyframes loader-figure {
	0% {
		height: 0;
		width: 0;
		background-color: #000;
	}

	29% {
		background-color: rgb(44, 42, 42);
	}

	30% {
		height: 2em;
		width: 2em;
		background-color: transparent;
		border-width: 1em;
		opacity: 1;
	}

	100% {
		height: 2em;
		width: 2em;
		border-width: 0;
		opacity: 0;
		background-color: transparent;
	}
}

@-webkit-keyframes loader-figure-white {
	0% {
		height: 0;
		width: 0;
		background-color: #0a0a0a;
	}

	29% {
		background-color: #0a0a0a;
	}

	30% {
		height: 2em;
		width: 2em;
		background-color: transparent;
		border-width: 1em;
		opacity: 1;
	}

	100% {
		height: 2em;
		width: 2em;
		border-width: 0;
		opacity: 0;
		background-color: transparent;
	}
}

@keyframes loader-figure-white {
	0% {
		height: 0;
		width: 0;
		background-color: #0a0a0a;
	}

	29% {
		background-color: #0a0a0a;
	}

	30% {
		height: 2em;
		width: 2em;
		background-color: transparent;
		border-width: 1em;
		opacity: 1;
	}

	100% {
		height: 2em;
		width: 2em;
		border-width: 0;
		opacity: 0;
		background-color: transparent;
	}
}

@-webkit-keyframes loader-figure-black {
	0% {
		height: 0;
		width: 0;
		background-color: #fff;
	}

	29% {
		background-color: #fff;
	}

	30% {
		height: 2em;
		width: 2em;
		background-color: transparent;
		border-width: 1em;
		opacity: 1;
	}

	100% {
		height: 2em;
		width: 2em;
		border-width: 0;
		opacity: 0;
		background-color: transparent;
	}
}

@keyframes loader-figure-black {
	0% {
		height: 0;
		width: 0;
		background-color: #fff;
	}

	29% {
		background-color: #fff;
	}

	30% {
		height: 2em;
		width: 2em;
		background-color: transparent;
		border-width: 1em;
		opacity: 1;
	}

	100% {
		height: 2em;
		width: 2em;
		border-width: 0;
		opacity: 0;
		background-color: transparent;
	}
}

@-webkit-keyframes loader-figure-light {
	0% {
		height: 0;
		width: 0;
		background-color: #363636;
	}

	29% {
		background-color: #363636;
	}

	30% {
		height: 2em;
		width: 2em;
		background-color: transparent;
		border-width: 1em;
		opacity: 1;
	}

	100% {
		height: 2em;
		width: 2em;
		border-width: 0;
		opacity: 0;
		background-color: transparent;
	}
}

@keyframes loader-figure-light {
	0% {
		height: 0;
		width: 0;
		background-color: #363636;
	}

	29% {
		background-color: #363636;
	}

	30% {
		height: 2em;
		width: 2em;
		background-color: transparent;
		border-width: 1em;
		opacity: 1;
	}

	100% {
		height: 2em;
		width: 2em;
		border-width: 0;
		opacity: 0;
		background-color: transparent;
	}
}

@-webkit-keyframes loader-figure-dark {
	0% {
		height: 0;
		width: 0;
		background-color: #f5f5f5;
	}

	29% {
		background-color: #f5f5f5;
	}

	30% {
		height: 2em;
		width: 2em;
		background-color: transparent;
		border-width: 1em;
		opacity: 1;
	}

	100% {
		height: 2em;
		width: 2em;
		border-width: 0;
		opacity: 0;
		background-color: transparent;
	}
}

@keyframes loader-figure-dark {
	0% {
		height: 0;
		width: 0;
		background-color: #f5f5f5;
	}

	29% {
		background-color: #f5f5f5;
	}

	30% {
		height: 2em;
		width: 2em;
		background-color: transparent;
		border-width: 1em;
		opacity: 1;
	}

	100% {
		height: 2em;
		width: 2em;
		border-width: 0;
		opacity: 0;
		background-color: transparent;
	}
}

@-webkit-keyframes loader-figure-primary {
	0% {
		height: 0;
		width: 0;
		background-color: #fff;
	}

	29% {
		background-color: #fff;
	}

	30% {
		height: 2em;
		width: 2em;
		background-color: transparent;
		border-width: 1em;
		opacity: 1;
	}

	100% {
		height: 2em;
		width: 2em;
		border-width: 0;
		opacity: 0;
		background-color: transparent;
	}
}

@keyframes loader-figure-primary {
	0% {
		height: 0;
		width: 0;
		background-color: #fff;
	}

	29% {
		background-color: #fff;
	}

	30% {
		height: 2em;
		width: 2em;
		background-color: transparent;
		border-width: 1em;
		opacity: 1;
	}

	100% {
		height: 2em;
		width: 2em;
		border-width: 0;
		opacity: 0;
		background-color: transparent;
	}
}

@-webkit-keyframes loader-figure-link {
	0% {
		height: 0;
		width: 0;
		background-color: #fff;
	}

	29% {
		background-color: #fff;
	}

	30% {
		height: 2em;
		width: 2em;
		background-color: transparent;
		border-width: 1em;
		opacity: 1;
	}

	100% {
		height: 2em;
		width: 2em;
		border-width: 0;
		opacity: 0;
		background-color: transparent;
	}
}

@keyframes loader-figure-link {
	0% {
		height: 0;
		width: 0;
		background-color: #fff;
	}

	29% {
		background-color: #fff;
	}

	30% {
		height: 2em;
		width: 2em;
		background-color: transparent;
		border-width: 1em;
		opacity: 1;
	}

	100% {
		height: 2em;
		width: 2em;
		border-width: 0;
		opacity: 0;
		background-color: transparent;
	}
}

@-webkit-keyframes loader-figure-info {
	0% {
		height: 0;
		width: 0;
		background-color: #fff;
	}

	29% {
		background-color: #fff;
	}

	30% {
		height: 2em;
		width: 2em;
		background-color: transparent;
		border-width: 1em;
		opacity: 1;
	}

	100% {
		height: 2em;
		width: 2em;
		border-width: 0;
		opacity: 0;
		background-color: transparent;
	}
}

@keyframes loader-figure-info {
	0% {
		height: 0;
		width: 0;
		background-color: #fff;
	}

	29% {
		background-color: #fff;
	}

	30% {
		height: 2em;
		width: 2em;
		background-color: transparent;
		border-width: 1em;
		opacity: 1;
	}

	100% {
		height: 2em;
		width: 2em;
		border-width: 0;
		opacity: 0;
		background-color: transparent;
	}
}

@-webkit-keyframes loader-figure-success {
	0% {
		height: 0;
		width: 0;
		background-color: #fff;
	}

	29% {
		background-color: #fff;
	}

	30% {
		height: 2em;
		width: 2em;
		background-color: transparent;
		border-width: 1em;
		opacity: 1;
	}

	100% {
		height: 2em;
		width: 2em;
		border-width: 0;
		opacity: 0;
		background-color: transparent;
	}
}

@keyframes loader-figure-success {
	0% {
		height: 0;
		width: 0;
		background-color: #fff;
	}

	29% {
		background-color: #fff;
	}

	30% {
		height: 2em;
		width: 2em;
		background-color: transparent;
		border-width: 1em;
		opacity: 1;
	}

	100% {
		height: 2em;
		width: 2em;
		border-width: 0;
		opacity: 0;
		background-color: transparent;
	}
}

@-webkit-keyframes loader-figure-warning {
	0% {
		height: 0;
		width: 0;
		background-color: rgba(0, 0, 0, 0.7);
	}

	29% {
		background-color: rgba(0, 0, 0, 0.7);
	}

	30% {
		height: 2em;
		width: 2em;
		background-color: transparent;
		border-width: 1em;
		opacity: 1;
	}

	100% {
		height: 2em;
		width: 2em;
		border-width: 0;
		opacity: 0;
		background-color: transparent;
	}
}

@keyframes loader-figure-warning {
	0% {
		height: 0;
		width: 0;
		background-color: rgba(0, 0, 0, 0.7);
	}

	29% {
		background-color: rgba(0, 0, 0, 0.7);
	}

	30% {
		height: 2em;
		width: 2em;
		background-color: transparent;
		border-width: 1em;
		opacity: 1;
	}

	100% {
		height: 2em;
		width: 2em;
		border-width: 0;
		opacity: 0;
		background-color: transparent;
	}
}

@-webkit-keyframes loader-figure-danger {
	0% {
		height: 0;
		width: 0;
		background-color: #fff;
	}

	29% {
		background-color: #fff;
	}

	30% {
		height: 2em;
		width: 2em;
		background-color: transparent;
		border-width: 1em;
		opacity: 1;
	}

	100% {
		height: 2em;
		width: 2em;
		border-width: 0;
		opacity: 0;
		background-color: transparent;
	}
}

@keyframes loader-figure-danger {
	0% {
		height: 0;
		width: 0;
		background-color: #fff;
	}

	29% {
		background-color: #fff;
	}

	30% {
		height: 2em;
		width: 2em;
		background-color: transparent;
		border-width: 1em;
		opacity: 1;
	}

	100% {
		height: 2em;
		width: 2em;
		border-width: 0;
		opacity: 0;
		background-color: transparent;
	}
}
