nav {
	max-height: 5rem;

	.navbar-brand {
		.navbar-item {
			@media only screen and (min-width: 992px) {
				left: calc(50% - 40px);
			}

			img {
				max-height: 4rem;
			}
		}
		.navbar-burger {
			height: auto;

			span {
				width: 20px;
				height: 2px;
				left: calc(50% - 25px);
				&:nth-child(1) {
					top: calc(50% - 8px);
				}
				&:nth-child(2) {
					top: calc(50% - 2px);
				}
				&:nth-child(3) {
					top: calc(50% + 4px);
				}
			}
		}
	}
	.navbar-menu {
		.navbar-end {
			a {
				@media only screen and (min-width: 992px) {
					right: 50%;
				}
			}
		}
	}
}

#navbar {
	.navbar-end {
		.navbar-item {
			background-color: #ffffff;
			&:hover {
				color: #ffd21f;
				font-size: 1.05rem;
			}
		}
	}
	.navbar-languages {
		display: flex;
		.navbar-item {
			background-color: #ffffff;
			&:hover {
				color: #ffd21f;
				font-size: 1.05rem;
			}
		}
		p {
			padding: 0;
			margin: 0;
			&:hover {
				color: black;
			}
		}
	}
}
