.navigation__mobile {
	position: fixed;
	top: 1rem;
	right: 5rem;
	visibility: hidden;
	opacity: 0;

	@include respond(tab-port) {
		// width < 900?
		visibility: visible;
		opacity: 1;
	}

	.header__logo-box {
		position: fixed;
		top: 2rem;
		left: 0.8rem;
		z-index: 20;
	}

	&__checkbox {
		display: none;
	}

	&__button {
		z-index: 100;
		position: absolute;
	}

	&__icon {
		position: relative;
		margin-top: 3.5rem;

		&,
		&::before,
		&::after {
			width: 3rem;
			height: 2px;
			background-color: $color-white;
			display: inline-block;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			transition: all 0.2s;
		}

		&::before {
			top: -0.8rem;
		}
		&::after {
			top: 0.8rem;
		}
	}

	&__link {
		position: relative;
		font-weight: 800;
		font-style: italic;

		&:link,
		&:visited {
			font-family: inherit;
			font-size: 4rem;
			color: $color-white;
			text-decoration: none;
			text-transform: uppercase;
			color: $color-white;
			transition: all 0.5s;
		}

		&:hover,
		&:active {
			color: $color-primary-blue;
			&::after {
				opacity: 1;
				visibility: visible;
				width: 100%;
			}
		}

		&::after {
			content: "";
			height: 2px;
			width: 0;
			transition: all 0.5s;
			background: $color-primary-blue;
			position: absolute;
			bottom: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
		}
	}

	&__item {
		text-align: center;
		list-style: none;
	}

	&__nav {
		opacity: 0;
		visibility: hidden;
		width: 0;
		height: 100%;

		position: fixed;
		top: 0;
		right: 0;
		background-image: url("/img/mobile-menu.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;

		display: flex;
		align-items: center;
		justify-content: center;

		transition: width 0.3s;
	}

	&__checkbox:checked ~ &__nav {
		opacity: 1;
		visibility: visible;
		width: 100%;
	}

	&__checkbox:checked + &__button &__icon {
		background-color: transparent;
	}

	&__checkbox:checked + &__button &__icon::before {
		top: 0;
		transform: rotate(135deg);
	}

	&__checkbox:checked + &__button &__icon::after {
		top: 0;
		transform: rotate(-135deg);
	}
}
